[btrfs_normal]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda3
SCRATCH_DEV_POOL="/dev/sda5 /dev/sda6 /dev/sda7 /dev/sda8 /dev/sda9 /dev/sda10 /dev/sda11"
LOGWRITES_DEV=/dev/sda4
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K"
RECREATE_TEST_DEV=true

[btrfs_compress]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda3
SCRATCH_DEV_POOL="/dev/sda5 /dev/sda6 /dev/sda7 /dev/sda8 /dev/sda9 /dev/sda10 /dev/sda11"
LOGWRITES_DEV=/dev/sda4
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K"
MOUNT_OPTIONS="-o compress"
RECREATE_TEST_DEV=true

[btrfs_holes_spacecache]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda3
SCRATCH_DEV_POOL="/dev/sda5 /dev/sda6 /dev/sda7 /dev/sda8 /dev/sda9 /dev/sda10 /dev/sda11"
LOGWRITES_DEV=/dev/sda4
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K -O ^no-holes,^free-space-tree"
RECREATE_TEST_DEV=true

[btrfs_holes_spacecache_compress]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda3
SCRATCH_DEV_POOL="/dev/sda5 /dev/sda6 /dev/sda7 /dev/sda8 /dev/sda9 /dev/sda10 /dev/sda11"
LOGWRITES_DEV=/dev/sda4
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K -O ^no-holes,^free-space-tree"
MOUNT_OPTIONS="-o compress"
RECREATE_TEST_DEV=true

[btrfs_block_group_tree]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda3
SCRATCH_DEV_POOL="/dev/sda5 /dev/sda6 /dev/sda7 /dev/sda8 /dev/sda9 /dev/sda10 /dev/sda11"
LOGWRITES_DEV=/dev/sda4
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K -O block-group-tree"
RECREATE_TEST_DEV=true

[btrfs_encryption]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda3
SCRATCH_DEV_POOL="/dev/sda5 /dev/sda6 /dev/sda7 /dev/sda8 /dev/sda9 /dev/sda10 /dev/sda11"
LOGWRITES_DEV=/dev/sda4
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K"
MOUNT_OPTIONS="-o test_dummy_encryption"
RECREATE_TEST_DEV=true

[btrfs_subpage_normal]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda3
SCRATCH_DEV_POOL="/dev/sda5 /dev/sda6 /dev/sda7 /dev/sda8 /dev/sda9 /dev/sda10 /dev/sda11"
LOGWRITES_DEV=/dev/sda4
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K -n 4k -s 4k"
RECREATE_TEST_DEV=true

[btrfs_subpage_compress]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda3
SCRATCH_DEV_POOL="/dev/sda5 /dev/sda6 /dev/sda7 /dev/sda8 /dev/sda9 /dev/sda10 /dev/sda11"
LOGWRITES_DEV=/dev/sda4
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K -n 4k -s 4k"
MOUNT_OPTIONS="-o compress"
RECREATE_TEST_DEV=true
