[btrfs_normal]
TEST_DIR=/mnt/test
TEST_DEV=/dev/nvme0n1
SCRATCH_DEV_POOL="/dev/nvme2n1 /dev/nvme3n1 /dev/nvme4n1 /dev/nvme5n1 /dev/nvme6n1 /dev/nvme7n1 /dev/nvme8n1"
LOGWRITES_DEV=/dev/nvme1n1
SCRATCH_MNT=/mnt/scratch
MKFS_OPTIONS="-K"
MOUNT_OPTIONS="-o compress-force=zstd:3"
RECREATE_TEST_DEV=true
BTRFS_PROFILE_CONFIGS="single:single dup:single raid0:raid0"
