# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
ConditionPathExists=/work/build/kernel/modules

[Mount]
What=/work/build/kernel/modules
Where=/usr/lib/modules
Options=bind

[Install]
WantedBy=multi-user.target
